.logo-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    margin: -3rem 2rem -3rem 0;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.navbar-brand{
    margin-top: 0.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    /*padding: 2rem 4rem;*/
    background: #ffffff; /* Change to match your theme */
    border-bottom: 1px solid rgba(97, 100, 102, 0.05 );}


.navbar-nav {
    display: flex;
    justify-content: left;
    gap: 0.7rem; /* Spacing between items */
    list-style: none;
}

.nav-item {
    position: relative;
    font-size: 1rem;
}

/*.nav-item:not(:last-child)::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    right: -0.5rem;*/
/*    top: 0.75rem;*/
/*    height: 1rem;*/
/*    width: 2px;*/
/*    background: #ccc;*/
/*}*/

@media (max-width: 992px) {
    .logo-container{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' data-name='Layer 1' viewBox='415.05 629.04 249.88 91.92'%3E%3Cpath d='M519.76,654.18c-21.21,0-34.63,14.1-34.63,32.26v2.71c0,17.37,12.64,31.81,34.63,31.81s34.63-14.44,34.63-31.81v-2.71c0-18.16-13.42-32.26-34.63-32.26Zm0,49.63c-9.37,0-14.1-6.65-14.1-16.02s5.07-16.47,14.1-16.47,14.1,6.88,14.1,16.47-4.74,16.02-14.1,16.02Z'%3E%3C/path%3E%3Crect x='574.97' y='674.26' width='17.71' height='46.55'%3E%3C/rect%3E%3Cpath d='M663.62,669.14c-2.97-9.64-10.98-15.1-23.93-16.29-.64-.06-1.28-.08-1.93-.08h-45.09v-2.78c0-4.61,2.75-7.35,7.35-7.35h7.77v-13.6h-7.28c-17.19,0-25.55,7.17-25.55,21.92v1.81h-18.66v16.37h83.4c1.31,0,2.61,.42,3.64,1.23,2.06,1.65,3.09,4.32,3.16,8.11l.02,1.33h-11.86c-24.62,0-29.78,10.8-29.78,19.87,0,12.33,8.72,19.99,22.77,19.99,10.32,0,17.02-4.42,19.93-13.14l2.54,.41v13.83h14.81v-42.02c0-3.56-.44-6.76-1.32-9.6Zm-17.12,25.53c-.46,8.53-4.44,12.85-11.83,12.85-6.55,0-10.62-3.61-10.62-9.42,0-2.85,.99-5.24,2.86-6.94,1.87-1.7,4.55-2.59,7.76-2.59h11.83v6.1Z'%3E%3C/path%3E%3Cpath d='M478.34,698.48c0,14.01-11.8,22.48-30.97,22.48s-31.58-8.48-32.32-23.22h19.66c.62,4.06,5.04,7.5,13.15,7.5,5.65,0,10.57-1.6,10.57-5.53,0-3.45-2.7-5.66-11.43-6.52l-4.67-.49c-17.33-1.84-25.32-9.95-25.32-21.63,0-14.86,12.04-22.12,28.76-22.12,18.18,0,30.11,8.23,30.84,23.11h-19.66c-.61-4.06-4.42-7.38-11.43-7.38-5.16,0-8.6,1.84-8.6,5.16s2.82,4.92,9.59,5.66l4.67,.49c17.32,1.84,27.16,9.95,27.16,22.49Z'%3E%3C/path%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 6rem;
        height: 10rem;
        margin: 0 0 -6vh;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start !important;
        padding: 1rem;
    }

    .navbar-brand {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .nav-item{
        margin-bottom: -1vh;
    }
    .nav-item:last-child{
        margin-bottom: 0.2rem;
    }
    .nav-item:not(:last-child)::after {
        display: none;
    }
}